#show-nav,
#hide-nav {
  display: none;
  color: #fff;
  padding: 3px 12px;
  font-weight: 400; }

#nav-start {
  padding: 0; }

#nav {
  position: relative;
  z-index: 1;
  background-color: #000;
  -webkit-box-shadow: 0px, 3px, 5px, rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px, 3px, 5px, rgba(0, 0, 0, 0.5);
  box-shadow: 0px, 3px, 5px, rgba(0, 0, 0, 0.5); }
  #nav:not(:target) > #show-nav, #nav:target > #hide-nav {
    display: block; }
  #nav:not(:target) > #nav-start {
    display: none; }

.nav-top-level {
  position: relative; }
  .nav-top-level a,
  .nav-top-level strong,
  .nav-top-level > span {
    padding: 3px 12px;
    display: block;
    color: #fff!important;
    border-bottom: 1px solid white; }
  .nav-top-level a:hover {
    background-color: #e96200; }
  .nav-top-level .nav-dropdown {
    background-color: #1e1e1e;
    background-image: repeating-linear-gradient(45deg, rgba(25, 25, 25, 0.9) 0px, rgba(35, 35, 35, 0.9) 1px, rgba(20, 20, 20, 0.9) 10px, rgba(30, 30, 30, 0.9) 20px);
    padding: 0;
    margin: 0;
    overflow: hidden;
    max-height: 0;
    -webkit-transition: max-height 0.8s;
    -moz-transition: max-height 0.8s;
    transition: max-height 0.8s;
    min-width: 100%; }
  .nav-top-level:hover {
    background-color: #666;
    background-image: repeating-linear-gradient(45deg, #646464 0px, #666666 1px, #606060 10px, #686868 20px); }
    .nav-top-level:hover .nav-dropdown {
      max-height: 800px; }

@media (min-width: 768px) {
  #nav-start {
    display: block !important; }

  #nav {
    text-align: center; }
    #nav:not(:target) > #show-nav, #nav:target > #hide-nav {
      display: none; }

  .nav-dropdown {
    text-align: left;
    position: absolute;
    top: 100%; } }
.screen-desktop {
  background: transparent url("/ui/2013/images/styleguide/screen-desktop.png") no-repeat center center; }
  .screen-desktop > div {
    top: 10.5%;
    left: 4.5%;
    right: 4.5%;
    bottom: 28%; }

.screen-tablet {
  background: transparent url("/ui/2013/images/styleguide/screen-tablet.png") no-repeat center center; }
  .screen-tablet > div {
    top: 9%;
    left: 26.7%;
    right: 26.7%;
    bottom: 8.7%; }
  .screen-tablet .pure-gutter {
    padding: 0.425em; }

.screen-mobile {
  background: transparent url("/ui/2013/images/styleguide/screen-mobile.png") no-repeat center center; }
  .screen-mobile > div {
    top: 19%;
    left: 34%;
    right: 34%;
    bottom: 18%; }
  .screen-mobile .pure-gutter {
    padding: 0.4em; }

.screen-desktop, .screen-tablet, .screen-mobile {
  position: relative;
  width: 100%;
  padding-bottom: 76.45%;
  margin-bottom: 1.7em;
  float: left;
  height: 0;
  background-size: contain; }
  .screen-desktop > div, .screen-tablet > div, .screen-mobile > div {
    position: absolute;
    overflow: hidden; }

.pure-g-r {
  font-family: arial; }

[class*="pure-u-"] {
  font-family: "roboto", arial; }

[class*="pure-u-"] > .grid-unit-highlight {
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: #eee;
  padding: 4px;
  text-align: center; }

.grid-unit-highlight {
  background-color: #bada55;
  padding: 4px; }

.pure-gutter > .grid-unit-highlight {
  border-bottom: 24px solid #eeeeee; }

.media-query-box {
  background-color: red;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 24px;
  font-weight: 400;
  color: #ffffff; }

.phone {
  background-color: green; }

.phone-only {
  background-color: green; }

@media (min-width: 768px) {
  .tablet {
    background-color: green; }

  .phone-only {
    background-color: red; }

  .desktop-only {
    background-color: red; }

  .tablet-only {
    background-color: green; } }
@media (min-width: 980px) {
  .desktop {
    background-color: green; }

  .phone-only {
    background-color: red; }

  .tablet-only {
    background-color: red; }

  .desktop-only {
    background-color: green; } }
.color-box {
  height: 50px;
  margin-bottom: 12px;
  background-color: grey;
  border-radius: 4px;
  border: 1px;
  box-shadow: 0px 0px 10px #aaaaaa; }

@media (min-width: 768px) {
  .color-box {
    height: 0px;
    padding-bottom: 100%;
    margin: 1em 0 1em 0; } }
pre {
  font-family: Consolas,'Bitstream Vera Sans Mono','Courier New',Courier,monospace;
  font-size: 14px; }

.media-wrap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 60px;
  overflow: hidden;
  margin-bottom: 20px; }
  .media-wrap iframe,
  .media-wrap object,
  .media-wrap embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
