//mobile and general
#search-results {
	background: #fff !important;
}
h2.search-totals{
	@include size(font-size, 2.5, !important);
  }

.search-group-container {
	color: $body-copy;
		h3.title {
		color: #ffffff;
		@include size(padding-left, 1.8, !important);
		@include size(padding-top, 0.8, !important);
		@include size(padding-bottom, 0.8, !important);
	 }
	 h3.title {
		margin-bottom: 0;
	 }
	.header-fundraiser  h3.title {
		background-color: $search-header-fundraiser-title;
	}
	.header-charity  h3.title {
		background-color: $search-header-charity-title;
	}		
	.header-localproject  h3.title, {
		background-color: $search-header-yimbyproject-title;
	 }
	.header-globalproject  h3.title {
		background-color: $search-header-localproject-title;
	 }
	 .result {
		background: #fff;
		border-bottom: 1px solid $search-result-border;
		padding: 0.5em 0; 
		&:hover {
			background-color: $search-result-hover;
	  }
	}
	.result-location {
	  @include size(margin-bottom, 2, !important);
	 }

	.jg-button-tertiary-grey-border {
		 @include size(margin-top, 1.7, !important);
		 @include size(margin-bottom, 3, !important);		
	}
	.text-small {
		color: $knocked-back;
	}

	.description-paragraph {
		 @include size(margin-bottom, 0, !important);		
	}
}

//image styling
.search-group-container .frame {  
	height: 0;
	width: 100%;
	border: 1px solid #f2f2f2;
	padding-top: 100%;
	position: relative !important; 
	overflow: hidden;
	img {  
		max-width: 100%; 
		max-height: 100%;
		position: absolute;  
		top: 0;  
		bottom: 0;  
		left: 0;  
		right: 0;  
		margin: auto;  
		
	}
}

//back
a.back-link{
	@include size(margin-bottom, 2, !important);
	display: block;
	background: url("/ui/2013/images/icons/back-mobile.png") no-repeat center left;
	padding-left: 1.3em;
	}



// ipad upwards
@media (min-width: 768px) {
  .search-group-container {
  	  h3.title {
		background-color: #ffffff !important;
		border-bottom: 1px solid $search-result-border;
		color: $body-copy;
		@include size(padding-left, 1.8, !important);
		@include size(padding-bottom, 0.8, !important);
		@include size(padding-top, 0.4, !important);
	  }
	  .header-fundraiser  h3.title {
		border-top: 2px solid $search-header-fundraiser-title;
	  }
	  .header-charity h3.title {
		border-top: 2px solid$search-header-charity-title;   
	  }
	  .header-localproject  h3.title{
		border-top: 2px solid $search-header-yimbyproject-title;    /*we need to change this colour*/ 
	  }
	 .header-globalproject h3.title {
		border-top: 2px solid $search-header-localproject-title;  
	  }



	  h4.search-result-name {
		 @include size(font-size, 2.5, !important);
		 font-weight: 500;
	  }
	  
  }
  .search-group-container .frame {  
	height: 0;
	width: 100%;
	//border: 1px solid $grey-lighter;
	padding-top: 100%;
	position: relative !important; 
	overflow: hidden;
	img {  
		max-width: 100%; 
		max-height: 100%;
		position: absolute;  
		top: 0;  
		bottom: 0;  
		left: 0;  
		right: 0;  
		margin: auto;  
		
	}

}

  //back
.search-group-container {

a.back-link{
	background: url("/ui/2013/images/icons/back-arrow.png") no-repeat center left;
	padding-left: 1.4em;
	}
}
}

.cant-find-charity {
	position: relative;
	background: $search-result-hover;
}

.yimby-logo-container {
	position: absolute;
	top: 0;
	right: 10px;
}

.yimby-promotion-container {
	position: relative;

	.yimby-image-container {
		height: 100%;
		img {
			width: 100%;
		}
	}

	.yimby-call-to-action-container {
		background-color: #313131;
		color: #fff;
		position: absolute;
		bottom: 0;
		

		.yimby-copy {
			@include size(margin-top, 2.5, !important);
			@include size(font-size, 2.5, !important);
			font-weight: 400;
		}

		.yimby-button {
			@include size(margin-top, 2.5, !important);
			@include size(margin-bottom, 2.5, !important);
			
			a {
				background-color: #f06622;
				border: none;
				border-radius: 0;

				color: #ffffff;

				display: block;

				text-align: center;
				@include size(padding-bottom, 2, !important);
				@include size(padding-top, 2, !important);
				@include size(margin-bottom, 0, !important);
				@include size(margin-right, 1, !important);
				&:hover {
					background-color: #999;
					color: #fff;
					text-decoration: none;
				}
			}
		}

		.yimby-link {
			color: #f06622;
		}
	}
}